{% extends 'index.html' %}

{% block divright %}
<form action="/config/" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <table>
{#    <tr><td>安装路径</td><td>{{ ini_config_form.path }}</td></tr>#}
{#        <tr><td>安装服务器</td></tr>#}
{##}
{#        <tr><td>配置文件</td><td>{{ ini_config_form.conf_file }}</td></tr>#}
{#        <tr><td>备注</td><td>{{ ini_config_form.commit }}</td></tr>#}
     {{ ini_config_form }}
         <tr>
            <td><input type="reset" value="重置"></td>
            <td><input type="submit" value="提交"></td>
        </tr>
    </table>
</form>
{% endblock %}