<!DOCTYPE html>
<html lang="en">
{% load static %}
{#<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">#}
<head>
    <meta charset="UTF-8">
{#    {% load static %}#}
<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" >
    <title>运维平台主页</title>
</head>
<body>
<div>
    <table>
      <tr><td>服务器管理</td></tr>
{#        服务器添加、删除#}
       <tr><td>数据库管理</td></tr>
{#        执行数据库脚本#}
        <tr><td>代码管理</td></tr>
{#        代理发布和回滚#}
        <tr><td>软件管理</td></tr>
{#        提供YUM安装，卸载#}
        <tr><td>配置管理</td></tr>
{#         上传配置文件替换#}
        <tr><td>日志查看</td></tr>
{#        指定日志文件，查看#}

    </table>

</div>
<div>

</div>
</body>
</html>